.App {
  font-family: sans-serif;
  text-align: center;
}
.input-box {
  padding: 2rem 1rem;
  display: box;
  width: 80%;
  border-radius: 0.5rem;
  margin-right: 2rem;
}
.welcome {
  display: block;
  padding: 2rem 1rem;
  text-align: center;
  font-weight: bold;
  margin: auto;
}
.span-it {
  font-size: 2rem;
  padding: 2rem;
  cursor: pointer;
}
